/* purgecss start ignore */
@tailwind  base;
@tailwind  components;

html {
    scroll-behavior: smooth;
}


/* 
@font-face {
    font-family: 'ribesblack';
    src: url('ribes-black-webfont.woff2') format('woff2'),
         url('ribes-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'ribesblack';
  font-weight:normal;
  font-style:normal;
  } */

/*---------------------------------------------------------*/
/* CONTACT ME                               */
/*---------------------------------------------------------*/

/* @media screen (min-width > x) and (max-width < y) {
  input {
    width: 50%

  }
} */

.contactme {
    width: 100%;
    background-image: url("http://www.mmasynergy.com/images/inner-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
  }
  .contactOverlay {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #fb7185;
  }
  .form {
    width: 100%;
    max-height: 100%; /* new */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column; /* new */
    overflow-y: scroll; /* new */
  }
  form {
    width: 100%;
    max-height: 100%; /* new */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    flex-direction: column; /* new */
    overflow-y: scroll; /* new */
  }
  form button {
    width: 190px;
    height: 55px;
    height: 55px;
    border: 0;
    border-radius: 5px;
    background-color: #f472b6;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: white;
    font-weight: bold;
    margin-top: 5%;
  }
  form button:hover {
    background-color: unset;
    border: 2px solid #fbcfe8;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: black;
  }
  .formWord {
    width: 100%;
    padding: 7%; /*new*/
  }
  .formWord h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 7%;
  }
  .formWord input {
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
    border: 0;
    margin-top: 2%;
    padding-left: 3%;
    /* background: #ffffff; */
    background: #ffffff;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  }
  .formWord textarea {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    display: inline-block;
    margin-bottom: 10%;
    border: 0;
    margin-top: 1%;
    height: 80px;
    font-size: 1;
    color: black;
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    -webkit-appearance: none;
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    padding-left: 3%;
  }
  /*---------------------------------------------------------*/
  /* CONTACT ME END                                */
  /*---------------------------------------------------------*/


button:focus {
    @apply outline-none
}

.surveyButton {
    @apply p-3 rounded-lg hover:text-pink-400 hover:bg-pink-50 transition-all duration-300 text-xl text-gray-600

}

.fade-enter {
    opacity: 0;
    transform: translateY(-25%);
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0%);
}
.fade-exit {
    opacity: 1;
    transform: translateY(0%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(25%);
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 600ms, transform 600ms;
}

.red-link {
    @apply text-pink-400 font-bold font-display
}
.red-link:hover {
    @apply text-pink-300
}
.red-link:focus {
    @apply text-pink-300 underline
}

.polyfill-button {
    -webkit-appearance: none;
}
.full-height {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

/* purgecss end ignore */
@tailwind  utilities;
